@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #251F47;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  width: 100%;
  height: 5rem;
  z-index: 1;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-decoration: none;
  opacity: 1;
}

.nav-item {
  opacity: 1;
  margin: 0 1rem;
  transition: transform 0.5s ease;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.nav-link {
  opacity: 1;
  color: rgb(238, 238, 238);
  text-decoration: none;
  font-size: 1.875rem;
  font-weight: 700;
}

.nav-link:hover {
  opacity: 1;
  color: #e3f6ad;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: #ffffff;
  transition: transform 0.5s ease;
}

.home-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
}

.home-text h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.button-resume {
  --bg: #251F47;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8rem 2rem;
  background: var(--bg);
  transition: 0.2s;
}

.button-resume:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button-resume:active {
  transform: translate(0);
  box-shadow: none;
}

.home-foto {
  justify-content: center;
  width: 18.75rem;
  height: 18.75rem;
  margin-bottom: 10px;
}

.background-img {
  position: relative;
  background-image: url('https://i.pinimg.com/originals/e6/d7/20/e6d7207d515a89b34a9b89b0da38c5ab.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-img::before {
  content: "";
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  width: 18.75rem;
  height: 34.375rem;
  background: #8997d1;
  box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.4rem 0.8rem, rgba(0, 0, 0, 0.3) 0rem 1.4rem 2.3rem -0.6rem, rgba(0, 0, 0, 0.2) 0rem -0.6rem 0rem inset;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.bg-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4ebfe;
}

.ifprlink {
  text-decoration: none;
  color: #3e00f8;
}

.conteudo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 37.5rem;
  background-color: #8997d1;
  margin-top: 10px;
  width: 40.625rem;
  border-radius: 3.125rem 5px 50px 5px;
}

.conteudo h1 {
  color: #ffffff;
  width: 18.75rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 3.125rem;
  text-align: center;
}

.conteudo p {
  color: #ffffff;
  text-align: center;
  font-size: 1.875rem;
  width: 37.5rem;
  margin-top: 10px;
  font-weight: 200;
}

.projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.projetos h1 {
  text-align: center;
  width: 18.75rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 5rem;
}

.sportdata {
  display: flex;
  border: 1rem solid rgba(94, 83, 176, 0.488);
  background-color: #8998d180;
  height: 29.375rem;
  border-radius: 5rem 0rem 5rem 5rem;
  transition: all 0.3s ease;
}

.sportdatalink {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.sportdata video {
  width: 48.125rem;
  height: 29.375rem;
  object-fit: fill;
  border-radius: 2.625rem 0rem 1.25rem 2.625rem;
}

.text-card-sportdata {
  width: 100%;
  text-align: center;
  margin-left: 1.25rem;
}

.text-card-sportdata h1 {
  width: 16.25rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 0rem 0rem 0rem 0rem;
  color: #000000;
}

.text-card-sportdata p {
  width: 18.75rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  color: #000000;
}

.sportdata:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease;
  border-right-color: rgb(210, 253, 196);
  border-bottom-color: rgb(210, 253, 196);
}

.escola {
  display: flex;
  border: 1rem solid rgba(94, 83, 176, 0.488);
  background-color: #8998d180;
  height: 29.375rem;
  border-radius: 5rem 0rem 5rem 5rem;
  transition: all 0.3s ease;
}

.escolalink {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.escola video {
  width: 48.125rem;
  height: 29.375rem;
  object-fit: fill;
  border-radius: 2.625rem 0rem 1.25rem 2.625rem;
}

.text-card-escola {
  width: 100%;
  text-align: center;
  margin-left: 1.25rem;
}

.text-card-escola h1 {
  width: 16.25rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 0rem 0rem 0rem 0rem;
  color: #000000;
}

.text-card-escola p {
  width: 18.75rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  color: #000000;
}

.escola:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease;
  border-right-color: rgb(210, 253, 196);
  border-bottom-color: rgb(210, 253, 196);
}

.estagif {
  display: flex;
  border: 1rem solid rgba(94, 83, 176, 0.488);
  background-color: #8998d180;
  height: 29.375rem;
  border-radius: 5rem 0rem 5rem 5rem;
  transition: all 0.3s ease;
}

.estagiflink {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.estagif video {
  width: 48.125rem;
  height: 29.375rem;
  object-fit: fill;
  border-radius: 2.625rem 0rem 1.25rem 2.625rem;
}

.text-card-estagif {
  width: 100%;
  text-align: center;
  margin-left: 1.25rem;
}

.text-card-estagif h1 {
  width: 16.25rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 0rem 0rem 0rem 0rem;
  color: #000000;
}

.text-card-estagif p {
  width: 18.75rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  color: #000000;
}

.estagif:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease;
  border-right-color: #d2fdc4;
  border-bottom-color: rgb(210, 253, 196);
}

.linha {
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
  width: 1000%;
  border-bottom: 6.25rem solid #251F47;
}

.linha2 {
  align-items: center;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding: 0rem 0rem 0rem 0rem;
  width: 1000%;
  border-bottom: 0.625rem solid #8997d1;
}

.button-icon {
  display: flex;
  border: 0.1875rem #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-left: 0.625rem;
}

.icon {
  background-color: #fff;
  padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
}

.icon svg {
  width: 1.5625rem;
  height: 1.5625rem;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 12.5rem;
  height: 1.25rem;
}

.button-icon:hover {
  border-color: #9290CC;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 2.9375rem;
  width: 12.5rem;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #9290CC;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 0.84375rem, 2em);
}

.front {
  background: #251F47;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

#repositorio {
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
  width: 1000%;
  border-bottom: 6.25rem solid #251F47;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

.google {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1.875rem;
  cursor: pointer;
  margin-left: 0.3125rem;
}

.github {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1.875rem;
}

.linkedin {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1.875rem;
  margin-left: 0.3125rem;
}

.github img,
.linkedin img {
  height: 3.125rem;
  transition: transform 0.5s ease;
}

.google img {
  height: 3.125rem;
  transition: transform 0.5s ease;
  border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
}

.linkedin img:hover {
  box-shadow: 0 0 0.3125rem rgb(210, 253, 196);
  border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

.github img:hover {
  box-shadow: 0 0 0.3125rem rgb(210, 253, 196);
  border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

.google img:hover {
  box-shadow: 0 0 0.3125rem rgb(210, 253, 196);
  border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

.footer {
  margin-top: 2.5rem;
  position: relative;
  width: 100%;
  background: #9190CC;
  min-height: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 800;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

* {
  scrollbar: width 1.25rem;
  scrollbar-color: #8997d1 rgb(210, 253, 196);
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #8997d1;
}

::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.32);
}